body {
	font-family: 'Open Sans', sans-serif;
	margin-bottom: -30px;
}

.jumbotron h1 {
	font-size: 35px;
}

.jumbotron {
	padding: 70px 70px 0 70px;
	min-height: 500px;
	height: 100%;
	position: relative;
	background: url('/static/img/header.jpg');
	background-size: cover;
	margin-bottom: 0;
}

.footer li {
	list-style-type: none;
	display: inline;
}

.social-footer {
	margin-bottom: -10px;
}

.jumbotron-text {
	float: left;
	color: #fff;
	margin-top: 50px;
	height: 320px;
	width: 400px;
	padding: 40px;
	background-color: rgba(0,0,0,0.3);
	border-radius: 10px;
}

.navbar {
	/*background-color: rgba(0,0,0,0.3);*/
	background-color: #0077b5;
	border: none;
}

.navbar-default .navbar-nav>li>a {
	color: #fff;
	/*text-shadow: 2px 2px 2px rgba(0,0,0,0.3);*/
	font-size: 14px;
}


.navbar-default .navbar-nav>li>a:hover {
	text-decoration: underline;
	color: #fff;
}

.navbar-default .navbar-brand {
	color: #fff;
	font-size: 20px;
}

.navbar-default .navbar-brand img {
	padding-top: -10px;
}

.navbar-default a.navbar-brand:hover {
	color: #fff;
}


.navbar-brand img {
	height: 25px;
}

.btn-primary {
    color: #fff;
    background-color: #0077b5;
    border-color: #2e6da4;
}

#footer {
	text-align: left;
	background-color: #333;
	color: #666;
	width: 100%;
	max-width: 1000px;
	height: 100px;
	padding: 20px 50px 20px 50px;
	margin-right: auto;
	margin-left: auto;
	vertical-align: top;
}


#footer-body {
	background-color: #333;
	border-top: 1px solid #666;
	vertical-align: top;
	width: 100%;
}

#footer img {
	height: 25px;
	opacity: 0.3;
	margin: 5px 8px 0 0;
}

#footer img:hover {
	opacity: 1.0;
}

#footer a {
	color: #666;
	text-shadow: 1.5px 2px 3px rgba(0,0,0,0.2);
}

#footer a:hover {
	color: #fff;
}

.profile-box {
	padding: 20px;
	margin-top: 70px;
	width: 800px;
	height: 300px;
	background-color: #eee;
	border-radius: 10px;
	border: 1px solid #ccc;
}

.profile-text {
	text-align: left;
}

#main_wrap { 
    display: table;
    text-align: left;
}

#sidebar {
	border-right: 1px solid #ccc;
    background-color: #eee;
    width: 250px;
    display: table-cell;
    padding: 0 35px;
}

#content {
    display: table-cell;
    width: 100%;
    /*width: 750px;*/
    padding: 0 20px;
}

#chart-result-msg {
	font-size: 14px;
	font-weight: bold;
}