body {
	font-family: 'Open Sans', sans-serif;
}

.jumbotron h1 {
	font-size: 35px;
}

.jumbotron {
	padding: 70px;
	height: 500px;
	position: relative;
	background: url('/static/img/header.jpg');
	background-size: cover;
}

.footer li {
	list-style-type: none;
	display: inline;
}

.social-footer {
	margin-bottom: -10px;
}

.jumbotron-text {
	float: left;
	color: #fff;
	margin-top: 50px;
	height: 320px;
	width: 400px;
	padding: 40px;
	background-color: rgba(0,0,0,0.3);
	border-radius: 10px;
}

.navbar {
	/*background-color: rgba(0,0,0,0.3);*/
	background-color: #0077b5;
	border: none;
}

.navbar-default .navbar-nav>li>a {
	color: #fff;
	/*text-shadow: 2px 2px 2px rgba(0,0,0,0.3);*/
	font-size: 14px;
}


.navbar-default .navbar-nav>li>a:hover {
	text-decoration: underline;
	color: #fff;
}

.navbar-default .navbar-brand {
	color: #fff;
	font-size: 20px;
}

.navbar-default .navbar-brand img {
	padding-top: -10px;
}

.navbar-default a.navbar-brand:hover {
	color: #fff;
}


.navbar-brand img {
	height: 25px;
}

.btn-primary {
    color: #fff;
    background-color: #0077b5;
    border-color: #2e6da4;
}

#footer {
	text-align: left;
	background-color: #333;
	color: #666;
	width: 100%;
	max-width: 1000px;
	height: 100px;
	padding: 20px 50px 20px 50px;
	margin-right: auto;
	margin-left: auto;
}


#footer-body {
	background-color: #333;
	border-top: 1px solid #666;
}

#footer img {
	height: 25px;
	opacity: 0.3;
	margin: 5px 8px 0 0;
}

#footer img:hover {
	opacity: 1.0;
}

#footer a {
	color: #666;
	text-shadow: 1.5px 2px 3px rgba(0,0,0,0.2);
}

#footer a:hover {
	color: #fff;
}

* {
  margin: 0;
}
html, body {
  height: 100%;
}
.page-wrap {
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: -50px; 
  position: relative;
}

.page-wrap:after {
  content: '';
  display: block;
}

.site-footer, .page-wrap:after {
  height: 50px; 

}
