body {
	/*font-family: 'Roboto', sans-serif;*/
}

.jumbotron {
	padding: 50px;
	height: 500px;
	position: relative;
	background: url('/static/img/ENKN0756RJ.jpg');
}

.footer li {
	list-style-type: none;
	display: inline;
}

.social-footer {
	margin-bottom: -10px;
}

.jumbotron-text {
	text-align: justify;
	vertical-align: middle;
	margin: 0 auto;
}

.navbar {
	background-color: transparent;
}

.navbar-brand img {
	height: 25px;
}
