{% extends 'base.html' %}
{% block body %}

<link href="/static/css/index.css" rel="stylesheet">

<style>
	body {
		color: white;
		margin-top: 100px;	
	}

	.navbar {
		background-color: #333;
		border-bottom: 1px solid #666;
	}

	h2 {
		font-size: 24px;
		text-shadow: 3px 3px 3px rgba(0,0,0,0.2);
	}

</style>



<div class="container">
	<h1>About</h1>

	<hr>

	<h2>What is the problem?</h2>
	<p>Women, on average, earn less than men in virtually every single occupation for which there is sufficient earnings data for both men and women to calculate an earnings ratio. On average there is a gender wage gap of 22 percent. According to the Institute for Women’s Policy Research (IWPR), a female full-time worker made only 78 cents for every dollar earned by men.</p>

	<h2>Why is it important for women to be proactive in negotiating?</h2>
	<p>If change continues at the same slow pace as it has done for the past fifty years, we will have to wait until 2058 for women to finally reach pay parity.</p>

	<h2>Solution</h2>
	<p>TalkPay empowers women by raising their awareness of the gender pay gap in their industry of interest and provides personalized feedback. A user can log in with her Linkedin account and enter her current salary. TalkPay then provides a visual graph of the average earnings of men and women in that industry compared to her current salary. It aims to educate women about the the gender wage gap and encourages them to ask for their true market value.</p>

</div>
<br>
<br>

<div id="footer-body">
	<div id="footer">
		<br>
		<center>
			<p>Get Social with ©TalkPay</p>
		<a href="http://www.github.com/susancodes/talkpay"><img src="/static/img/github.png"></a>
		<a href="http://www.linkedin.com/in/"><img src="/static/img/linkedin.png"></a>
		<a href="http://www.twitter.com/LOrtencio"><img src="/static/img/twitter.png"></a>
	</center>
	</div>
</div>




{% endblock %}