{% extends 'base.html' %}
{% block body %}

<link href="/static/css/index.css" rel="stylesheet">

<div class="jumbotron">
	<div class="jumbotron-text">  
		<div>
			<h1>You're worth more than you think.</h1>
			<hr>
			<p>Find out the pay average of your industry to learn how much you should be earning.</p>

			<p><a class="btn btn-primary btn-lg" href="/login" role="button">Become englightened.</a></p>

		</div>
	</div>

</div>

<div id="footer-body">
	<div id="footer">
		<br>
		<center>
			<p>Get Social with ©TalkPay</p>
		<a href="http://www.github.com/susancodes/talkpay"><img src="/static/img/github.png"></a>
		<a href="http://www.linkedin.com/in/"><img src="/static/img/linkedin.png"></a>
		<a href="http://www.twitter.com/LOrtencio"><img src="/static/img/twitter.png"></a>
	</center>
	</div>
</div>

{% endblock %}



