{% extends 'base.html' %}
{% block body %}

<style>
	h1 {
		margin-top: -20px;
	}
</style>

<div class="jumbotron">
	<div class="jumbotron-text">  
		<div>
			<h1>You're worth more than you think.</h1>
			<hr>
			<p>Find out the pay average of your industry to learn how much you should be earning.</p>
			<p><a class="btn btn-primary btn-lg" href="#" role="button">Start talking!</a></p>
		</div>
	</div>


	<!-- SUSAN'S CHART BUTTON. DO NOT ERASE! -->
	<button type="button" class="btn btn-defult" id="chart-btn">Make me a chart!</button>
	<div id="chart-div" style="height: 600px; width: 400px"></div>

</div>





{% endblock %}