{% extends 'base.html' %}
{% block body %}

<style>
	h3 {
		margin-top: 50px;
		margin-bottom: 20px;
		font-size: 20px;
	}
	.form-group {
		width: 500px;
	}

	#main_wrap img {
		margin-top: 30px;
		height: 230px;
	}

	.divide {
		height: 50px;
	}

	#sidebar img {
		border-radius: 150px;
		height: 150px;
		border: 3px solid #0077b5;
		margin-bottom: 15px;
		margin-top: -40px;
		text-align: center;
	}

	#sidebar li {
		list-style-type: none;
		margin-left: -40px;
		margin-bottom: 5px;

	}


	.name {
		font-size:16px;
	}


</style>

<div class='divide'></div>


<div id="main_wrap">
	<div id="sidebar">
		{% if user is defined %}
		<img src="{{ user.profile_pic }}">
		{% else %}
		<img src="/static/img/logo_invert.png">
		{% endif %}
		<br>
		<ul>
			{% if user is defined %}
			<li><b class="name">{{ user.first_name }} {{ user.last_name }}</b></li>
			<li>{{ user.title }}</li>
			<li>@{{ user.company }} since {{ user.start_date_month }}/{{ user.start_date_year }}</li>
			<li>{{ user.location }}</li>
			{% else %}
			<li>Title: Software Engineer</li>
			<li>Company: Google since 6/2015</li>
			<li>Location: San Francisco, CA</li>
			{% endif %}
		</ul>
		<br>
		<b>TalkPay Topics to Get You What You Deserve</b>
		<br>
		<br>
	
		<ul>
			<li><a href="#">Salary Negotiation</a></li>
			<li><a href="#">2015 Salary Averages</a></li>
			<li><a href="#">Resume Tips</a></li>
			<li><a href="#">5 Things Not to Do At an Interview</a></li>
		</ul>



	</div>
	<div id="content">
		<center>
		
			<center>
				<img src="/static/img/logo_invert.png">
			</center>
	
			<h3>Enter a job position to find a starting point to talk about your pay:</h3>

			<form id='position-search' class="form">

			    <div class="form-group">
			    	<input type="text" id="position" class="form-control" name="position" value="Software Engineer">
				</div>

			    <button class="btn btn-primary btn-lg" type="submit">Search</button>
			</form>
	

					<!-- SUSAN'S CHART BUTTON. DO NOT ERASE! -->

		<div id="chart-div" style="height: 600px; width: 400px"></div>

		</div>
		</center>
	</div>
</div>







{% endblock %}