{% extends 'base.html' %}
{% block body %}

<br>
<br>

<div class="container">
	<div class="row">
		<div class="col-md-6">
			<h2>Search for a position to see salary information:</h2>

			<form id='position-search' class="form">

			    <div class="form-group">
			    	<input type="text" id="position" class="form-control" name="position">
				</div>

			    <input type="submit" value="Search">
			</form>
		</div>
	</div>

	<div class="row">
		<div class="col-md-6">

			<!-- SUSAN'S CHART BUTTON. DO NOT ERASE! -->

			<div id="chart-div" style="height: 600px; width: 400px"></div>

		</div>

	</div>
</div>


{% endblock %}